@import "tailwindcss";
@theme {
  --font-sans: InterVariable, sans-serif;
  --font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}
@theme {
  --breakpoint-xs: 480px;
  --breakpoint-sm: 576px;
}
